[submodule "model-context-tool-inspector"]
        path = model-context-tool-inspector
        url = git@github.com:beaufortfrancois/model-context-tool-inspector.git
        branch = fcdee330ec5402b8ff560ade9ac175792042f124 # Version 1.9.2
