[submodule "model-context-tool-inspector"]
        path = model-context-tool-inspector
        url = git@github.com:beaufortfrancois/model-context-tool-inspector.git
        branch = 599367c717cb0d0be2dcb740390e579f1dd5adec # Version 1.9
